// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-monospace: 'Space Mono';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark: #343335;
$grey: #e0e0e0;
$grey-translucent: #f1f1f1;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$green-translucent: #b5e6da;
$teal: #4dc0b5;
$cyan: #6cb2eb;
