// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Variables
@import 'variables';
body{
  background-color: $dark;
}
.container{
  background-color: white;
  padding: 32px;
}
.monospace {
  font-family: 'Roboto Mono';
  word-wrap: break-word;
}
.highlighted {
  background-color: $green-translucent;
}
.protein-sequence{
  line-height: 26pt;
}

//Canvas
.cc{
  display: flex;
  justify-content: center;
}

//Code
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid $teal;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0.8em;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

pre.out{
  background-color: $dark;
  color: white;
  border-left: 3px solid $indigo;
}


@media screen and (min-width: 1200px) {
  .navbar{
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;

    .navbar-login{
      flex-grow: 1;
      display: inline-flex;
      justify-content: flex-end;

      li{
        padding-top: 8px;
        list-style: none;
      }
      li:last-child{
        padding-right: 8px;
        padding-top: 8px;
      }
    }

    li.item.main{
      display: inline-flex;
      flex-direction: column;
      background-color: $teal;
      font-weight: 900;
      a{
          color: white;
      }

      &:hover{

      }
    }

    li.item.sandwich{
      display: none;
    }

    li.item{
      box-sizing: border-box;
      cursor: pointer;
      list-style: none;
      text-align: center;
      padding: 16px;
      user-select: none;

      &:hover{
        background-color: $green-translucent;
        ul{
          min-width: inherit;
          display: block;
          position: absolute;
          margin-left: -16px; //padding from above
        }
      }

      //Dropdown
      ul{
        position: relative;
        z-index: 999;
        display: none;
        box-sizing: border-box;
        background-color: white;
        padding: 0;
        border-radius: 0 0 3px 3px;
        border-left: 1px solid $grey;
        border-right: 1px solid $grey;
        border-bottom: 1px solid $grey;

        a{
          color: black;
        }

        li{
          margin: 0;
          list-style: none;
          padding: 12px;
          border-bottom: 1px solid $grey-translucent;
          text-align: left;
          cursor: pointer;
          i{
            display: inline-flex;
            flex-direction: row;
            padding-left: 4px;
            margin-right: 8px;
          }

          &:hover{
            background-color: $grey-translucent;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .navbar{
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
  }

  li.item.main{
    display: inline-flex;
    flex-direction: column;
    background-color: $teal;
    font-weight: 900;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    text-align: center;
    padding: 16px;
    user-select: none;
    a{
        color: white;
    }

    &:hover{

    }
  }

  li.item.sandwich{
    padding: 16px;
    display: block !important;
  }

  li.item{
    display: none;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    text-align: center;
    padding: 16px;
    user-select: none;

    &:hover{
      background-color: $green-translucent;
      ul{
        min-width: inherit;
        display: block;
        position: absolute;
        margin-left: -16px; //padding from above
      }
    }
  }

  .navbar-login{
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;

    li{
      padding-top: 8px;
      list-style: none;
    }
    li:last-child{
      padding-right: 8px;
      padding-top: 8px;
    }
  }
}


.paginator-container{
  display: inline-flex;
  justify-content: center;
  width: 100%;

}
