// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Variables
@import 'variables';

.monospace {
  font-family: 'Roboto Mono';
  word-wrap: break-word;
}
.highlighted {
  background-color: $green-translucent;
}
.protein-sequence{
  line-height: 26pt;
}
