@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);body {
  background-color: #F1F1F1;
}

.container {
  background-color: white;
  padding: 32px;
}

.monospace {
  font-family: "Roboto Mono";
  word-wrap: break-word;
}

.highlighted {
  background-color: #b5e6da;
}

.protein-sequence {
  line-height: 26pt;
}

