@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);body {
  background-color: #343335;
}

.container {
  background-color: white;
  padding: 32px;
}

.monospace {
  font-family: "Roboto Mono";
  word-wrap: break-word;
}

.highlighted {
  background-color: #b5e6da;
}

.protein-sequence {
  line-height: 26pt;
}

.cc {
  display: flex;
  justify-content: center;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #4dc0b5;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0.8em;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: inline-block;
  word-wrap: break-word;

}

pre.out {
  background-color: #343335;
  color: white;
  border-left: 3px solid #6574cd;
  word-break: break-word;
}

@media screen and (min-width: 1200px) {
  .navbar {
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
  }

  .navbar .navbar-login {
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
  }

  .navbar .navbar-login li {
    padding-top: 8px;
    list-style: none;
  }

  .navbar .navbar-login li:last-child {
    padding-right: 8px;
    padding-top: 8px;
  }

  .navbar li.item.main {
    display: inline-flex;
    flex-direction: column;
    background-color: #4dc0b5;
    font-weight: 900;
  }

  .navbar li.item.main a {
    color: white;
  }

  .navbar li.item.sandwich {
    display: none;
  }

  .navbar li.item {
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    text-align: center;
    padding: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .navbar li.item:hover {
    background-color: #b5e6da;
  }

  .navbar li.item:hover ul {
    min-width: inherit;
    display: block;
    position: absolute;
    margin-left: -16px;
  }

  .navbar li.item ul {
    position: relative;
    z-index: 999;
    display: none;
    box-sizing: border-box;
    background-color: white;
    padding: 0;
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  .navbar li.item ul a {
    color: black;
  }

  .navbar li.item ul li {
    margin: 0;
    list-style: none;
    padding: 12px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    cursor: pointer;
  }

  .navbar li.item ul li i {
    display: inline-flex;
    flex-direction: row;
    padding-left: 4px;
    margin-right: 8px;
  }

  .navbar li.item ul li:hover {
    background-color: #f1f1f1;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
  }

  li.item.main {
    display: inline-flex;
    flex-direction: column;
    background-color: #4dc0b5;
    font-weight: 900;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    text-align: center;
    padding: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  li.item.main a {
    color: white;
  }

  li.item.sandwich {
    padding: 16px;
    display: block !important;
  }

  li.item {
    display: none;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    text-align: center;
    padding: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  li.item:hover {
    background-color: #b5e6da;
  }

  li.item:hover ul {
    min-width: inherit;
    display: block;
    position: absolute;
    margin-left: -16px;
  }

  .navbar-login {
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
  }

  .navbar-login li {
    padding-top: 8px;
    list-style: none;
  }

  .navbar-login li:last-child {
    padding-right: 8px;
    padding-top: 8px;
  }
}

.paginator-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
